<div class="container form-section">

  <div class="row">

      <div class="col-md-8 col-md-offset-2">


      <form ng-submit="addWebinar()" class="form-horizontal form-webinar" name="webinarCreateForm">
        <h2 class="form-signin-heading">Add a Webinar</h2>
        <!-- <br><br><br><br> -->

        <div class="form-group">
          <label for="webinarTitle" class="col-sm-2 control-label">Webinar Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="newWebinar.title" id="webinarTitle" placeholder="" required>
          </div>
        </div>



        <div class="form-group">
          <label for="webinarDescription" class="col-sm-2 control-label">Webinar Description</label>
          <div class="col-sm-10">
            <textarea class="form-control"  placeholder="Include details about the webinar like what it will cover, who the target audience is, if there are any pre-requisites and most importantly include a link to the webinar where you are hosting it. For eg - www.gotowebinar.com, www.webex.com etc" ng-model="newWebinar.description" id="webinarDetail" rows="5" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="webinarDate" class="col-sm-2 control-label">Webinar Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" ng-model="newWebinar.date" id="webinarDate" placeholder="" required>
          </div>
        </div>

        <div class="form-group">
          <label for="webinarTime" class="col-sm-2 control-label">Webinar Time</label>
          <div class="col-sm-10">
            <input type="time" class="form-control" ng-model="newWebinar.time" id="webinarTime" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary addWebinar-button" type="submit" ng-disabled="webinarCreateForm.$invalid">Add Webinar</button>
          </div>
        </div>
      </form>


    </div>

  </div>

</div>
