<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
          <br><br>
            <div class="row">
              <br><br>
                <div class="col-md-8 col-md-offset-2">
                    <!-- <h4 class="brand-heading">Join a Webinar</h4> -->
                    <p class="intro-text">Find a webinar of your choice and attend it, for free.</p>
                    <br><br><br><br>
                    <!-- <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-down animated"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- How it Works -->
<section id="brief" class="text-center">
    <div class="brief-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <br><br>
                <h2>Introducing..</h2>
                <br><br>
                <p> A knowledge marketplace, where users who are looking to learn more about any topic can do so in a quick fashion
                via webinars organized by thought leaders and domain experts. Choose from a range of topics like product management,
              User Experience Design, Web Development, Entrepreneurship and across different industries like Healthcare, Data, Finance,
            technology, startups etc. </p>
            <br>
            <br>
            </div>
            <br>
        </div>
    </div>
</section>


<section id="about" class="container content-section text-center">
    <!-- <div class="container"> -->
      <!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Find a Webinar
        </h2>
    </div>
</div>
      <!-- /.row -->

      <!-- Projects Row -->
      <div class="container">

      <div class="row" >
              <div class="flip-container col-md-4" ng-repeat="webinar in webinars" ontouchstart="this.classList.toggle('hover');">
                 <div class="flipper">
                     <div class="front">
                  <!-- front content -->
                        <h3>
                          {{ webinar.title }}
                        </h3>
                     </div>
                     <div class="back">
                      <!-- back content -->
                        <p>{{ webinar.description | limitTo: 100 }}</p>
                          <a href="#" ng-click="getOneWebinar(webinar)" class="btn btn-default center">Learn more</a>
                     </div>
                </div>
             </div>
      </div>
    </div>
</section>

      <hr>
